<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Hello, VueJS!</title>
</head>
<body>
    <div class="container" id="productApp">
        <div class="jumbotron">
            <h1>Vue</h1>
            <p>Easier to learn than React or Angular 2+ while offering more or less the same capabilities.</p>
        </div>

        <div class="row">
            <div class="col-12 text-center py-2">
                <a href="#loginModal" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Login</a>
            </div>
        </div>

        <h2>Hover Rows</h2>
        <p>The .table-hover class enables a hover state (grey background on mouse over) on table rows:</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th v-for="column in columnHeader">
                        {{column}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(prod,index) in products">
                    <td>{{prod.Id}}</td>
                    <td>{{prod.Name}}</td>
                    <td>{{prod.Category}}</td>
                    <td>{{prod.Price}}</td>
                </tr>
            </tbody>
        </table>

        <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Login</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="">
                            <div class="form-group">
                                <a href="" class="float-right">New user?</a>
                                <label for="email">Email</label>
                                <input type="text" class="form-control form-control-lg" v-model="account.Email" name="email" required>
                                <div class="invalid-feedback">Oops, you missed this one.</div>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control form-control-lg" v-model="account.Password" required="" autocomplete="new-password">
                                <div class="invalid-feedback">Enter your password too!</div>
                            </div>
                            <div class="custom-control custom-checkbox" style="display:none">
                                <input type="checkbox" class="custom-control-input" id="rememberMe">
                                <label class="custom-control-label" for="rememberMe">Remember me on this computer</label>
                            </div>
                            <div class="form-group py-4">
                                <button class="btn btn-outline-secondary btn-lg" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                <button type="submit" @click="login" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>








    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Vue JS-->
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script>
        var productsUrl = "http://localhost:8080/api/values";
        var accountUrl = "http://localhost:8080/api/account/login";

        var contactApp = new Vue({
            el: '#productApp',
            data: {
                columnHeader: ['Id', 'Name', 'Category', 'Price'],
                account: {},
                products: [],                
                newItem: {},
                editItem: {},
                deleteItem: {},
                searchKeyword: "",
            },
            methods: {
                getProducts: function () {
                    axios.get(productsUrl)
                        .then((response) => {
                            this.products = response.data;
                        });
                },
                login: function () {
                    console.log('login clicked');
                    axios.get(accountUrl, {params: this.account})
                        .then((response) => {
                            console.log(JSON.stringify(response.data))
                            this.getProducts();
                        });
                },
                getCookie: function(name) {
                    var cookies = document.cookie.split(';');
                    for(var i=0 ; i < cookies.length ; ++i) {
                        var pair = cookies[i].trim().split('=');
                        if(pair[0] == name)
                            return pair[1];
                    }
                    return null;
                }
            },
            mounted: function () {
                this.getProducts();
            }
        });

    </script>

</body>
</html>