 .container{
    background-color: rgb(218, 236, 252);
    margin-left: 450px;
    margin-right: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container input, button, h2,label{
    margin-left: 127px;
}
body{
    background-color: aliceblue;
    font-family: monospace;
}
input{
    border-radius: 2px;
    border-style: double;
    margin-top: 10px;
    padding: 5px;
    border-color: red;
    width: 200px;
}
h1{
    text-align: center;
}