<html>
<head>
    <title>Hello, VueJS!</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="https://www.w3schools.com/jsref/met_win_confirm.asp" target="_blank">Javascript Confirm</a></li>
            <li><a href="">Deleting Item</a></li>
        </ul>
        <a href="index08.html">7 of 10 [ Next ]</a>
        <hr />        
    </div>
    <!-- =============================================================== -->                  
    
    <div id="customerApp">
        <h1>{{appName}}</h1>
              
        <div>
            <input type="text" v-model="searchKeyword" placeholder="Search">
            <button @click="searchCustomers">Go</button>              
            <table>
                <thead>
                    <tr>
                        <th v-for="column in columnHeader">
                            {{column}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(customer,index) in customers">
                        <td>{{customer.id}}</td>
                        <td>{{customer.firstName}} {{customer.lastName}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.phone}}</td>
                        <td>
                            <button @click="deleteCustomer(index)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>          
        </div>

        <form @submit.prevent="postCustomer">
            <h2>New</h2>
            <div>
                <label>Last name</label>
                <input type="text" v-model="newItem.lastName" required />
            </div>
            <div>
                <label>First name</label>
                <input type="text" v-model="newItem.firstName" required />
            </div>
            <div>
                <label>Email</label>
                <input type="text" v-model="newItem.email" />
            </div>
            <div>
                <label>Phone</label>
                <input type="text" v-model="newItem.phone" />
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
    </form>

    </div>

    <!-- Vue JS and Axios -->
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script>
        var contactApp = new Vue({
            el: '#customerApp',
            data: {
                appName: "Customer Barebone Webapp",
                columnHeader: ['Id', 'Name', 'Email', 'Phone', 'Action'],
                baseUrl: "http://bernardgabon.somee.com",
                customers: [],                
                searchKeyword: "",
                newItem: {}                
            },
            methods: {
                getCustomers: function () {
                    axios.get(this.baseUrl + "/api/customer")
                        .then(response => {
                            this.customers = response.data;
                        });
                },
                searchCustomers: function () {
                    if (this.searchKeyword !== '') {
                        axios.get(this.baseUrl + "/api/customer?keyword=" + this.searchKeyword)
                            .then(response => {
                                this.customers = response.data;
                            });
                    }
                    else {
                        this.getCustomers();
                    }     
                },                 
                postCustomer: function () {
                    axios.post(this.baseUrl + "/api/customer", this.newItem)
                        .then(response => {
                            this.getCustomers();
                            this.newItem = {};
                        });
                },
                deleteCustomer: function (index) {
                    var yes = confirm('Are you sure?');
                    if (yes) {
                        axios.delete(this.baseUrl + "/api/customer/" + this.customers[index].id)
                            .then(response => {
                                this.getCustomers();
                            });
                    }
                }                                
            },
            mounted: function () {
                this.getCustomers();
            }
        });

    </script>

</body>
</html>